CLIENT_ID=
CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8080/api/auth/callback
CLIENT_BASE_URL=
PORT=8080
DATABASE_URL=postgres://listening_log:listening_log@localhost:5432/listening_log?sslmode=disable
SPOTIFY_ALLOWED_USER_ID=
MB_ADMIN_EMAIL=admin@listening-log.local
MB_ADMIN_PASSWORD=changeme
MB_ADMIN_FIRST_NAME=Admin
MB_ADMIN_LAST_NAME=User
METABASE_URL=http://localhost:3000
