CLIENT_ID=
CLIENT_SECRET=
PORT=8080
METABASE_PORT=3000
DATABASE_URL=postgres://listening_log:listening_log@localhost:5432/listening_log?sslmode=disable
SPOTIFY_ALLOWED_USER_ID=
MB_ADMIN_EMAIL=admin@listening-log.local
MB_ADMIN_PASSWORD=changeme
MB_ADMIN_FIRST_NAME=Admin
MB_ADMIN_LAST_NAME=User
