.env
data/
client/dist/
client/node_modules/
server/server
node_modules/

# Prototype (legacy)
venv/
database.db
__pycache__/
*.py[cod]
*$py.class
*.so
prototype/scraper/main
prototype/scraper/scraper
