{% macro recent_play_group(group) %}
  <div class="recent-play-group">
    <div class="album-cover-container">
      <a href="/album?id={{group['songs'][0]['album_id']}}">
        <img 
          class="album-cover"
          src="{{ group['cover_image'] }}" 
          alt=""/>
      </a>
    </div>
    <div class="recent-song-list-container">
      <div>
        <a class="recent-song-artist" href="/artist?id={{ group['songs'][0]['artist_id']}}">{{ group['songs'][0]['artist_name'] }}</a>
        -
        <a class="recent-song-album" href="/album?id={{ group['songs'][0]['album_id']}}">{{ group['songs'][0]['album_name'] }}</a>
      </div>
      {% for song in group['songs'] %}
        <div class="recent-song-name-container">
          <a class="recent-song-name" href="/song?id={{song['track_id']}}">{{ song['track_name'] }}</a>
          <div class="recent-song-time">{{ song['timestamp'] | datetimeformat('recent') }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
