<header>
  <nav>
    <h1>{{title}}</h1>
    <div class="nav-link-container">
      <a href="{{url_for('main.home')}}">Recent</a>
      <div class='dot'>&#183;</div>
      <a href="{{url_for('main.song')}}">Songs</a>
      <div class='dot'>&#183;</div>
      <a href="{{url_for('main.album')}}">Albums</a>
      <div class='dot'>&#183;</div>
      <a href="{{url_for('main.artist')}}">Artists</a>
      <div class='dot'>&#183;</div>
      <a href="{{url_for('main.home')}}">Ratings</a>
    </div>
  </nav>
</header>
