<header>
  <nav>
    <h1 class="title">Listening Log</h1>
    <div class="nav-link-container">
      <a 
        href="{{url_for('main.home')}}"
        class="nav-link {% if request.path == url_for('main.home') %}active-nav-link{% endif %}"
      >Recent</a>
      <div class='dot'>&#183;</div>
      <a 
        href="{{url_for('main.most_played')}}"
        class="nav-link {% if request.path == url_for('main.most_played') %}active-nav-link{% endif %}"
      >Most Played</a>
      <div class='dot'>&#183;</div>
      <a 
        href="{{url_for('main.all')}}"
        class="nav-link {% if request.path == url_for('main.all') %}active-nav-link{% endif %}"
      >All</a>
      <div class='dot'>&#183;</div>
      <a 
        href="{{url_for('main.ratings')}}"
        class="nav-link {% if request.path == url_for('main.ratings') %}active-nav-link{% endif %}"
      >Ratings</a>
    </div>
  </nav>
</header>
