{% import "macros/song.html" as song_macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask Page</title>
</head>
<body>
    <h1>Recent Songs</h1>
    <table border="1">
        <tr>
            <th>Time</th>
            <th>Track</th>
            <th>Artist</th>
        </tr>
        {% for song in recent_songs %}
            {{ song_macros.song_row(song) }}
        {% endfor %}
    </table>
</body>
</html>
